body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    outline: none;
}

a {
    text-decoration: none;
}

.flex-centering {
    display: flex;
    align-items: center;
}

.main-page-header {
    width: 100%;
    height: 120px;
    background-color: rgba(73, 71, 63, 0.6);
    position: fixed;
    z-index: 1;
}

.contatainer-header {
    width: 1160px;
    height: auto;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.main-logo {
    width: 197px;
    height: 67px;
    margin: 28px 180px auto 80px;
}

.header-menu li,
.header-search {
    display: inline-block;
    margin: 56px 0 auto 17px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-search {
    font-size: 20px;
    color: #b8b8b8;
}

.header-menu a:active,
.header-menu a:visited,
.header-menu a:link {
    color: #b8b8b8;
}

.header-menu a:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
    padding-bottom: 48px;
}

.header-search:hover {
    color: #18cfab;
}

.home-section {
    width: 100%;
    height: 900px;
    background: grey url(../img/Sections_background/section-1_header.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}

.home-section-container {
    width: 780px;
    height: 455px;
    flex-direction: column;
}

.home-h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.home-h1 span {
    color: #18cfab;
    font-weight: 700;
}

.ham-main-slogan {
    margin-top: 40px;
    text-transform: uppercase;
    color: #fff;
    font-size: 79px;
    font-weight: 700;
}

.ham-slogan {
    margin-top: 35px;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
}

.home-btns-container {
    width: 360px;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    width: 165px;
    height: 60px;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s;
    background-color: #18cfab;
    border: solid 1px #18cfab;
    box-shadow: 0 -4px #fff;
    outline: none;
}

.btn-primary:hover {
    color: #717171;
}


#btn-purchase {
    background-color: #00cbf6;
    border: solid 1px #00cbf6;
}

.main-features-section {
    display: flex;
    min-width: 1160px;
}

.main-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #1c2a33;
    width: 25%;
    height: 300px;
    border-top: solid 7px #18cfab;
    color: #18cfab;
    text-transform: uppercase;
}

.main-feature:nth-child(even) {
    padding-top: 30px;
    background-color: #18cfab;
    border-top: solid 7px #fff;
    color: #fff;
}

.main-feature p {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
}

.services-section {
    width: 1160px;
    height: 500px;
    margin: 80px auto;
    flex-direction: column;
    justify-content: space-between;
}

.white-sections-header {
    margin: 100px auto 0;
    color: #4e4e4e;
    font-size: 36px;
}

.green-line1 {
    width: 76px;
    height: 1px;
    border-bottom: solid 1px #18cfab;

}

.green-line2 {
    width: 76px;
    height: 1px;
    border-bottom: solid 1px #18cfab;
    transform: translateX(12px) translateY(3px);
}

.tab-container {
    width: 100%;
    margin: 0 auto 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.service-tab {
    width: 196px;
    height: 73px;
    position: relative;
    padding-top: 28px;
    background-color: #f8fcfe;
    border: solid 1px #ececec;
    border-left: 0;
    color: #717171;
    font-size: 16px;
    text-align: center;
}

.service-tab:hover {
    background-color: #18cfab;
    color: #fff;
    border: solid 1px #18cfab;
}

.service-tab:first-child {
    border-left: solid 1px #ececec;
}

.active-service-tab {
    width: 196px;
    height: 73px;
    position: relative;
    padding-top: 28px;
    background-color: #18cfab;
    color: #fff;
    border: solid 1px #18cfab;
    text-align: center;
}

.active-service-tab::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: rotate(45deg) translate(-50%);
    background-color: #18cfab;
}

.services-content-area {
    width: 1160px;
    height: 140px;
    justify-content: space-between;
}

.active-service-img-item {
    width: 194px;
    height: 140px;
}

.active-service-text-item {
    width: 930px;
    height: 140px;
    color: #777;
    font-size: 14px;
    font-weight: 300;
}

.service-img-item {
    width: 194px;
    height: 140px;
    display: none;
}

.service-text-item {
    display: none;
    width: 930px;
    height: 140px;
    color: #777;
    font-size: 14px;
    font-weight: 300;
}

.purchase-product-section {
    width: 100%;
    height: 480px;
    position: relative;
    background: url(../img/Sections_background/section-2.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.purchase-product-container {
    width: 100%;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.78);
    position: absolute;
    flex-direction: column;
    justify-content: center;
}


.purchase-product-header {
    text-transform: uppercase;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
}

.purchase-product-slogan {
    margin-top: 35px;
    color: #d8d8d8;
    font-size: 16px;
}

#purchase-btn-2 {
    margin-top: 80px;
}

.work-examples-section {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f8fcfe;
}

.work-example-tab {
    width: auto;
    height: 58px;
    position: relative;
    padding: 22px;
    background-color: #fff;
    border: solid 1px #ececec;
    border-left: 0;
    color: #717171;
    font-size: 14px;
    text-align: center;
}

.work-example-tab:hover {
    color: #18cfab;
    box-shadow: 101% -16px #18cfab;
}

.work-example-tab:hover::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    border-top: solid 2px #18cfab;
    top: -5%;
    left: 50%;
    transform: translate(-50%);
    background-color: #18cfab;
}

.work-example-tab:first-child {
    border-left: solid 1px #ececec;
}

.active-work-example-tab {
    width: auto;
    height: 58px;
    position: relative;
    padding: 22px;
    background-color: #fff;
    border: solid 1px #ececec;
    color: #18cfab;
    font-size: 14px;
    text-align: center;
}


.active-work-example-tab::after {
    content: '';
    width: 101%;
    height: 2px;
    position: absolute;
    border-top: solid 2px #18cfab;
    top: -5%;
    left: 50%;
    transform: translate(-50%);
    background-color: #18cfab;
}

.work-example-img-container {
    width: 1160px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;

}

.work-example-img-info {
    position: absolute;
    top: 0px;
    background-color: #f8fcfe;
    width: 284px;
    height: 206px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: solid 3px #18cfab;
}

.work-example-img-wraper {
    position: relative;
    display: flex;
}

.work-example-img-wraper:hover .work-example-img-info {
    display: flex;
}

.circle1,
.circle2 {
    border-radius: 50%;
    width: 41px;
    height: 40px;
    border: solid 1px #18cfab;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.circle2 {
    background-color: #18cfab;
}

#serch-circle {
    color: #fff;
}

#chain-circle {
    color: #18cfab;
}

.work-example-img-info h3 {
    margin-top: -60px;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.work-example-img-info p {
    margin-top: -80px;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
}

.circles-container {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#load-more-amazing-work-btn {
    margin: 70px auto;
    border: solid 1px #18cfab;
    font-size: 14px;
    box-shadow: 0 0 0;
}


.fa-plus {
    font-size: 16px;
    margin-right: 10px;
}

.news-section {
    width: 100%;
    height: 900px;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
}


.news-posts-container {
    width: 1160px;
    height: 605px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-post {
    width: 263px;
    height: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-post-date {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #203e38;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.blog-post-caption {
    margin-bottom: 10px;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.blog-post-info {
    border: solid 1px #ededed;
    padding: 10px;
    color: #777;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
}

.by-admin,
.comments {
    cursor: pointer;
}

.blog-post:hover .blog-post-caption {
    color: #18cfab;
}

.blog-post:hover .blog-post-date {
    background-color: #18cfab;
}

.blog-post:hover .blog-post-img {
    transform: scale(1.1) rotate(5deg);
    transition: transform 1s linear;
}

.blog-post-img-container {
    overflow: hidden;
}

.two-green-lines {
    width: 100px;
    margin: 30px auto 70px;
}

.feedback-section {
    width: 100%;
    height: 830px;
    margin-top: 100px;
    position: relative;
    background: url(../img/Sections_background/section-3.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.feedback-container {
    width: 100%;
    height: 830px;
    background-color: rgba(46, 74, 91, 0.5);
    position: relative;
    display: flex;
    justify-content: space-around;
}


.feedback-header {
    color: #fff;
    font-size: 36px;
    position: absolute;
    top: 10%;
}

.two-green-lines-feedback {
    position: absolute;
    top: 18%;
}

.quotes {
    position: absolute;
    top: 23%;
}

.feedback-main-item {
    width: 1000px;
    min-height: 350px;
    color: #bbb;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 28%;
}

.feedback-author {
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.feedback-author-caption {
    color: #bbb;
    font-size: 13px;
    font-weight: 300;
    margin-top: -20px;
}

.feedback-photo-container {
    border-radius: 50%;
    background-color: rgba(31, 218, 181, 0.2);
    width: 164px;
    height: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-green-circle {
    width: 143px;
    height: 142px;
    border-radius: 50%;
    border: solid 3px #18cfab;
}

.feedback-author-photo {
    width: 137px;
    height: 136px;
  }

.carousel-container {
    width: 480px;
    justify-content: space-between;
    position: absolute;
    top: 75%;
}

.carousel-control {
    width: 30px;
    height: 30px;
    border: solid 1px #bcbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bcbdbd;
    font-size: 13px;
    cursor: pointer;
}

.carousel-control:hover {
    background-color: #18cfab;
    border: 0;
    color: #fff;
}

.small-photo-carousel {
    border-radius: 50%;
    background-color: rgba(31, 218, 181, 0.2);
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-photo-container {
    width: 400px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.small-photo-carousel-active {
    border-radius: 50%;
    background-color: rgba(31, 218, 181, 0.2);
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20px);

}

.small-photo-carousel:hover {
    transform: translateY(-20px);
    transition: transform 0.2s linear;
}

.small-green-circle {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    border: solid 1.5px rgba(0, 0, 0, 0);
}

.small-photo-carousel-active .small-green-circle {
    border: solid 1.5px #18cfab;
}


.small-photo-carousel:hover .small-green-circle {
    border: solid 1.5px #18cfab;
}

.gallery-images-section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #f8fcfe;
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.gallery-sections-header {
    margin: 0 auto;
    color: #4e4e4e;
    font-size: 36px;
    display: inline-block;
    align-content: center;
}

.grid {
    max-width: 1160px;
    margin: 0 auto;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 370px;
    margin-top: 20px;
}

.grid-item--width2 {
    width: 175px;
    margin: 0px;
    height: 168px;
}

.grid-item--width3 {
    width: 110px;
    margin: 0px;
}

.grid-item--height2 {
    height: 380px;
}

/*
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
*/


.small-img-masonry-wraper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}

#load-more-gallery-btn {
    margin: 50px auto 0;
    border: solid 1px #18cfab;
    font-size: 14px;
    box-shadow: 0 0 0;
}

.main-page-footer {
    background-color: #22353f;
    width: 100%;
    height: 100px;
    justify-content: center;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;

}

.main-page-footer a {
    color: #18cfab;
    display: inline-block;
    margin: 0 10px;
}

#toTop {
    position: fixed;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #18cfab;
    font-size: 40px;
}

/*

Preloader styles*/

.work-example-preloader-container {
    max-width: 180px;
    position: absolute;
    bottom: 150px;
    text-align: center;
    display: none;

}

.gallery-images-preloader-container {
    max-width: 180px;
    position: absolute;
    bottom: 170px;
    left: 44%;
    text-align: center;
    display: none;
}

.bubbles {
    position: relative;
}

.bubble {
    display: inline-block;
    padding: 0px 5px;
}

.bubble:nth-of-type(1) .circle {
    animation-delay: 0.1s;
}

.bubble:nth-of-type(2) .circle {
    animation-delay: 0.2s;
}

.bubble:nth-of-type(3) .circle {
    animation-delay: 0.3s;
}

.bubble:nth-of-type(4) .circle {
    animation-delay: 0.4s;
}

.bubble:nth-of-type(5) .circle {
    animation-delay: 0.5s;
}

.bubble .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #18cfab;
    animation: pulse 1.5s infinite;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.2);
        opacity: 0.75;
    }

    100% {
        transform: scale(1);
    }
}

/*
.search-block-header {
    
}
*/

.search-block-input-header {
    display: none;
    width:     0px;
    position: absolute;
    top: 53px;
    right: 30px;
    border-radius: 4px;
    color: #18cfab;
    background-color: #b8b8b8;    
}
.search-block-input-header:focus {

    background-color: #fff;    
}